@import 'var';
.appContainer
{
    width: 100vw;
}
.header
{
    width: 100vw;
    position: fixed;
    z-index: 1;
    .appHeader
    {
        height: 80px;
        font-size: 14rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .appHeader_link
        {
            position: relative;
            font-size: 28rem;
            text-decoration: none;
            color: $text-color;
            font-weight: 600;
            .appHeader_dot
            {
                position: absolute;
                width: 6px;
                height: 6px;
                right: -8px;
                top: 70%;
                background-color: $orange-color;
                border-radius: 10px;
            }
        }
        .appHeader_list
        {
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            .appHeader_item
            {
                .appHeader_itemLink
                {
                    text-decoration: none;
                    color: $text-color;
                    .appHeader_btn
                    {
                        margin: 0 10px;
                        font-size: 16rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
.header--active
{
    background-color: #fff;
    box-shadow: 0 0 20px #ccc;
}
.home
{
    position: relative;
    background-color: $pink-color;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
    .homeContainer
    {
        .homeImgContainer
        {
            display: flex;
            justify-content: center;
            .homeImgContainer_img
            {
                max-height: 100vh;
            }
        }
    }
    .homeContent
    {
        padding-top: 30vh;
        .homeContentList
        {
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            .homeContentItem_link
            {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background-color: $orange-color;
                margin: 20px 2px;
                border-radius: 50%;
                font-size: 18px;
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }
            .homeContentItem_link:hover
            {
                background-color: $text-color;
            }
        }
    }
}
.home::before
{
    position: absolute;
    content: "";
    width: 1000px;
    height: 1000px;
    top: -200px;
    left: -200px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}
.aboutMe
{
    .aboutMe_content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 
        {
            margin: 10px 0;
            font-size: 50px;
            line-height: 60px;
            color: $text-color;
        }
        p 
        {
            font-size: 18px;
            line-height: 30px;
            color: #5e6472;
        }
        .aboutMeProject
        {
            display: flex;
            .aboutProject_item
            {
                width: 200px;
                height: 100px;
                padding: 20px;
                margin: 10px 0;
                border: 1px dashed $orange-color;
                border-radius: 10px;
                background-color: $pink-color;
                span
                {
                    color: $orange-color;
                    font-size: 30px;
                    line-height: 30px;
                    margin: 0;
                    font-weight: 600;
                }
                p 
                {
                    margin: 5px 0;
                    color: $text-color;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .aboutProject_item:last-child
            {
                margin-left: 30px;
            }
        }
    }
    .aboutMe_img
    {
        max-width: 45vw;
    }
}
.skill
{
    padding: 80px 0;
    background-color: $light-pink-color;
    .experienceSkill
    {
        .experienceSkill_header
        {
            font-size: 22px;
        }
        .experienceSkill_item
        {
            display: flex;
            width: 500px;
            padding: 15px 0;
            .experienceSkill_percent
            {
                position: relative;
                height: 30px;
                width: 20%;
                background-color: $orange-color;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                display: flex;
                align-items: center;
                padding : 0 10px;
                transition: width 0.5s ease-in;
            }
            .experienceSkill_rest
            {
                height: 30px;
                flex: 1;
                background-color: #fff;
            }
            .experienceSkill_item_label
            {
                position: absolute;
                text-align: center;
                padding: 4px 0;
                right: 0;
                top: -30%;
                width: 35px;
                height: 23px;
                background-color: $text-color;
                color: #fff;
                font-size: 12px;
            }
            .experienceSkill_item_label::before
            {
                position: absolute;
                top: 100%;
                right: 0;
                content: "";
                border-left: 8px solid;
                border-top: 8px solid;
                border-color: $text-color transparent transparent transparent;
            }
        }
    }
    .languageSkill
    {
        .languageSkill_header
        {
            font-size: 22px;
        }
        .languageSkill_row
        {
            display: flex;;
            .languageSkill_item
            {
                width: 255px;
                background-color: #fff;
                border: 0.5px solid $border-color;
                border-radius: 2px;
                font-size: 20px;
                padding: 10px;
                margin: 15px  30px 15px 0;
                display: flex;
                align-items: center;
                transition: 0.35s all ease;
                .languageSkill_item_circle
                {
                    width: 50px;
                    height: 50px;
                    background-color: $orange-color;
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p 
                {
                    font-size: 18px;
                    margin: 0;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
            .languageSkill_item:hover
            {
                box-shadow: 0 4px 10px rgba(204, 204, 204, 0.568);
                transform: translateY(-5px);
            }
        }
    }
}
@keyframes fadein {
    from {left: -100%;}
    to {left: 0;}
}
@keyframes fadeout {
    from {left: 0;}
    to {left: 100%;}
}
.container 
{
    padding: 80px 0;
    .container_headerContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        .containerHeader
        {
            overflow: hidden;
            h1 
            {
                position: relative;
                margin: 0 auto;
                font-size: 40px;
                line-height: 50px;
                color: $text-color;
            }
            h1::after
            {
                position: absolute;
                top: 60%;
                left: 100%;
                content: "";
                background-color: $orange-color;
                opacity: 0.3;
                height: 30%;
                width: 100%;
                z-index: -1;
                animation: fadeout 0.5s ease-in;
            }
        }
        p 
        {
            text-align: center;
            font-size: 18px;
            width: 55%;
            line-height: 30px;
            color: #5e6472;
        }
    }
}
.container:hover .container_headerContainer h1::after
{
    animation: fadein 0.5s ease-in;
    left: 0;
}
.experience
{
    .experience_item
    {
        margin: 20px 0;
        padding: 30px;
        width: 100%;
        border: 1px solid $border-color;
        .experience_item_label
        {
            display: flex;
            align-items: center;
            .experience_item_label_icon
            {
                font-size: 20px;
                color: #fff;
                width: 50px;
                height: 50px;
                margin: 0 -5px 0 0;
                background-color: $orange-color;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .experience_item_label_text
            {
                height: 20px;
                font-size: 12px;
                color: #fff;
                line-height: 18px;
                font-weight: 600;
                padding: 2px 10px;
                align-content: center;
                background-color: $orange-color;
            }

        }
        h2 
        {
            font-size: 16px;
            font-weight: 600;
            margin: 20px 0;
        }
        p 
        {
            margin: 20px 0 0 0;
            font-size: 16px;
            color: #5e6472;
            line-height: 30px;
        }
        transition: all 0.5s ease;
    }
    .experience_item:hover
    {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px $shadow-color;
    }
}
.hire 
{
    display: flex;
    background-color: $orange-color;
    padding: 50px 0;
    .hireContainer
    {
        margin: 0;
        justify-content: space-between;
        align-items: center;
        h1 
        {
            font-size: 28px;
            color: #fff;
        }
    }
}
.service
{
    background-color: $light-pink-color;
}