.appContainer {
  width: 100vw;
}

.header {
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.header .appHeader {
  height: 80px;
  font-size: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .appHeader .appHeader_link {
  position: relative;
  font-size: 28rem;
  text-decoration: none;
  color: #00171f;
  font-weight: 600;
}

.header .appHeader .appHeader_link .appHeader_dot {
  position: absolute;
  width: 6px;
  height: 6px;
  right: -8px;
  top: 70%;
  background-color: #f9564f;
  border-radius: 10px;
}

.header .appHeader .appHeader_list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .appHeader .appHeader_list .appHeader_item .appHeader_itemLink {
  text-decoration: none;
  color: #00171f;
}

.header .appHeader .appHeader_list .appHeader_item .appHeader_itemLink .appHeader_btn {
  margin: 0 10px;
  font-size: 16rem;
  font-weight: 600;
}

.header--active {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
}

.home {
  position: relative;
  background-color: #f9564f21;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.home .homeContainer .homeImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .homeContainer .homeImgContainer .homeImgContainer_img {
  max-height: 100vh;
}

.home .homeContent {
  padding-top: 30vh;
}

.home .homeContent .homeContentList {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home .homeContent .homeContentList .homeContentItem_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #f9564f;
  margin: 20px 2px;
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.home .homeContent .homeContentList .homeContentItem_link:hover {
  background-color: #00171f;
}

.home::before {
  position: absolute;
  content: "";
  width: 1000px;
  height: 1000px;
  top: -200px;
  left: -200px;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}

.aboutMe .aboutMe_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .aboutMe_content h2 {
  margin: 10px 0;
  font-size: 50px;
  line-height: 60px;
  color: #00171f;
}

.aboutMe .aboutMe_content p {
  font-size: 18px;
  line-height: 30px;
  color: #5e6472;
}

.aboutMe .aboutMe_content .aboutMeProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: 10px 0;
  border: 1px dashed #f9564f;
  border-radius: 10px;
  background-color: #f9564f21;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item span {
  color: #f9564f;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-weight: 600;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item p {
  margin: 5px 0;
  color: #00171f;
  font-size: 16px;
  font-weight: 600;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item:last-child {
  margin-left: 30px;
}

.aboutMe .aboutMe_img {
  max-width: 45vw;
}

.skill {
  padding: 80px 0;
  background-color: #f9564f0f;
}

.skill .experienceSkill .experienceSkill_header {
  font-size: 22px;
}

.skill .experienceSkill .experienceSkill_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  padding: 15px 0;
}

.skill .experienceSkill .experienceSkill_item .experienceSkill_percent {
  position: relative;
  height: 30px;
  width: 20%;
  background-color: #f9564f;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.skill .experienceSkill .experienceSkill_item .experienceSkill_rest {
  height: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
}

.skill .experienceSkill .experienceSkill_item .experienceSkill_item_label {
  position: absolute;
  text-align: center;
  padding: 4px 0;
  right: 0;
  top: -30%;
  width: 35px;
  height: 23px;
  background-color: #00171f;
  color: #fff;
  font-size: 12px;
}

.skill .experienceSkill .experienceSkill_item .experienceSkill_item_label::before {
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  border-left: 8px solid;
  border-top: 8px solid;
  border-color: #00171f transparent transparent transparent;
}

.skill .languageSkill .languageSkill_header {
  font-size: 22px;
}

.skill .languageSkill .languageSkill_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill .languageSkill .languageSkill_row .languageSkill_item {
  width: 255px;
  background-color: #fff;
  border: 0.5px solid #cccccc4a;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px;
  margin: 15px  30px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.35s all ease;
  transition: 0.35s all ease;
}

.skill .languageSkill .languageSkill_row .languageSkill_item .languageSkill_item_circle {
  width: 50px;
  height: 50px;
  background-color: #f9564f;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill .languageSkill .languageSkill_row .languageSkill_item p {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
  margin-left: 10px;
}

.skill .languageSkill .languageSkill_row .languageSkill_item:hover {
  -webkit-box-shadow: 0 4px 10px rgba(204, 204, 204, 0.568);
          box-shadow: 0 4px 10px rgba(204, 204, 204, 0.568);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes fadein {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes fadein {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes fadeout {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.container {
  padding: 80px 0;
}

.container .container_headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container_headerContainer .containerHeader {
  overflow: hidden;
}

.container .container_headerContainer .containerHeader h1 {
  position: relative;
  margin: 0 auto;
  font-size: 40px;
  line-height: 50px;
  color: #00171f;
}

.container .container_headerContainer .containerHeader h1::after {
  position: absolute;
  top: 60%;
  left: 100%;
  content: "";
  background-color: #f9564f;
  opacity: 0.3;
  height: 30%;
  width: 100%;
  z-index: -1;
  -webkit-animation: fadeout 0.5s ease-in;
          animation: fadeout 0.5s ease-in;
}

.container .container_headerContainer p {
  text-align: center;
  font-size: 18px;
  width: 55%;
  line-height: 30px;
  color: #5e6472;
}

.container:hover .container_headerContainer h1::after {
  -webkit-animation: fadein 0.5s ease-in;
          animation: fadein 0.5s ease-in;
  left: 0;
}

.experience .experience_item {
  margin: 20px 0;
  padding: 30px;
  width: 100%;
  border: 1px solid #cccccc4a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.experience .experience_item .experience_item_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .experience_item .experience_item_label .experience_item_label_icon {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  margin: 0 -5px 0 0;
  background-color: #f9564f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience .experience_item .experience_item_label .experience_item_label_text {
  height: 20px;
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  font-weight: 600;
  padding: 2px 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f9564f;
}

.experience .experience_item h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.experience .experience_item p {
  margin: 20px 0 0 0;
  font-size: 16px;
  color: #5e6472;
  line-height: 30px;
}

.experience .experience_item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 10px #cccccc91;
          box-shadow: 0 5px 10px #cccccc91;
}

.hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9564f;
  padding: 50px 0;
}

.hire .hireContainer {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire .hireContainer h1 {
  font-size: 28px;
  color: #fff;
}

.service {
  background-color: #f9564f0f;
}

.service .service_item {
  position: relative;
  background-color: #fff;
  padding: 30px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 5px #cccccc91;
          box-shadow: 0 0 5px #cccccc91;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
}

.service .service_item .service_item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #f9564f;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
}

.service .service_item h2 {
  margin: 30px 0 20px 0;
  font-size: 20px;
}

.service .service_item p {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 30px;
  color: #5e6472;
}

.service .service_item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 10px;
  left: -10px;
  background-color: #f9564f;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service .service_item:hover {
  top: -5px;
}

.service .service_item:hover::after {
  opacity: 1;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */