.appContainer {
  width: 100vw;
}

.header {
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.header .appHeader {
  height: 80px;
  font-size: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .appHeader .appHeader_link {
  position: relative;
  font-size: 28rem;
  text-decoration: none;
  color: #00171f;
  font-weight: 600;
}

.header .appHeader .appHeader_link .appHeader_dot {
  position: absolute;
  width: 6px;
  height: 6px;
  right: -8px;
  top: 70%;
  background-color: #f9564f;
  border-radius: 10px;
}

.header .appHeader .appHeader_list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .appHeader .appHeader_list .appHeader_item .appHeader_itemLink {
  text-decoration: none;
  color: #00171f;
}

.header .appHeader .appHeader_list .appHeader_item .appHeader_itemLink .appHeader_btn {
  margin: 0 10px;
  font-size: 16rem;
  font-weight: 600;
}

.header--active {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
}

.home {
  position: relative;
  background-color: #f9564f21;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.home .homeContainer .homeImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .homeContainer .homeImgContainer .homeImgContainer_img {
  max-height: 100vh;
}

.home .homeContent {
  padding-top: 30vh;
}

.home .homeContent .homeContentList {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home .homeContent .homeContentList .homeContentItem_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #f9564f;
  margin: 20px 2px;
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.home .homeContent .homeContentList .homeContentItem_link:hover {
  background-color: #00171f;
}

.home::before {
  position: absolute;
  content: "";
  width: 1000px;
  height: 1000px;
  top: -200px;
  left: -200px;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}

.aboutMe .aboutMe_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .aboutMe_content h2 {
  margin: 10px 0;
  font-size: 50px;
  line-height: 60px;
  color: #00171f;
}

.aboutMe .aboutMe_content p {
  font-size: 18px;
  line-height: 30px;
  color: #5e6472;
}

.aboutMe .aboutMe_content .aboutMeProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: 10px 0;
  border: 1px dashed #f9564f;
  border-radius: 10px;
  background-color: #f9564f21;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item h2 {
  color: #f9564f;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item p {
  margin: 5px 0;
  color: #00171f;
  font-size: 16px;
  font-weight: 600;
}

.aboutMe .aboutMe_content .aboutMeProject .aboutProject_item:last-child {
  margin-left: 30px;
}

.aboutMe .aboutMe_img {
  max-width: 45vw;
}
/*# sourceMappingURL=main.css.map */